apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: api
  namespace: 5stack
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`$(API_DOMAIN)`) && Path(`/me`)
      kind: Rule
      services:
        - name: api
          port: 5585
      middlewares:
        - name: large-upload
    - match: Host(`$(API_DOMAIN)`) && PathPrefix(`/matches`)
      kind: Rule
      services:
        - name: api
          port: 5585
      middlewares:
        - name: large-upload
    - match: Host(`$(API_DOMAIN)`) && PathPrefix(`/v1`)
      kind: Rule
      services:
        - name: hasura
          port: 8080
    - match: Host(`$(API_DOMAIN)`) && PathPrefix(`/v1alpha1`)
      kind: Rule
      services:
        - name: hasura
          port: 8080
    - match: Host(`$(API_DOMAIN)`) && PathPrefix(`/v2`)
      kind: Rule
      services:
        - name: hasura
          port: 8080
    - match: Host(`$(API_DOMAIN)`) && PathPrefix(`/game-server-node/script`)
      kind: Rule
      services:
        - name: api
          port: 5585
    - match: Host(`$(API_DOMAIN)`) && PathPrefix(`/game-server-node/ping`)
      kind: Rule
      services:
        - name: api
          port: 5585
    - match: Host(`$(API_DOMAIN)`) && Path(`/system/healthz`)
      kind: Rule
      services:
        - name: api
          port: 5585
    - match: Host(`$(API_DOMAIN)`) && Path(`/system/logs/download`)
      kind: Rule
      services:
        - name: api
          port: 5585
    - match: Host(`$(WEB_DOMAIN)`) && PathPrefix(`/auth`)
      kind: Rule
      services:
        - name: api
          port: 5585
    - match: Host(`$(WEB_DOMAIN)`) && Path(`/telemetry`)
      kind: Rule
      services:
        - name: api
          port: 5585
    - match: Host(`$(WEB_DOMAIN)`) && Path(`/discord-invite`)
      kind: Rule
      services:
        - name: api
          port: 5585
    - match: Host(`$(WEB_DOMAIN)`) && Path(`/discord-bot`)
      kind: Rule
      services:
        - name: api
          port: 5585
  tls:
    secretName: 5stack-ssl
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: demos
  namespace: 5stack
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`$(DEMOS_DOMAIN)`) && PathPrefix(`/demos`)
      kind: Rule
      services:
        - name: api
          port: 5585
      middlewares:
        - name: streaming
    - match: Host(`$(DEMOS_DOMAIN)`) && PathPrefix(`/5stack`)
      kind: Rule
      services:
        - name: minio
          port: 9000
      middlewares:
        - name: streaming
  tls:
    secretName: 5stack-ssl