TZ=UTC

DISPLAY_SIZEW=1920
DISPLAY_SIZEH=1080
DISPLAY_REFRESH=60
FPS=60

VIDEO_KBPS=6000
AUDIO_KBPS=128
AUDIO=pulse

CS2_DIR=/mnt/game-streamer/steamapps/common/Counter-Strike Global Offensive
DEMOS_DIR=/mnt/game-streamer/demos
CLIPS_DIR=/mnt/game-streamer/clips

MEDIAMTX_SRT_BASE=srt://mediamtx.5stack.svc.cluster.local:8890
MEDIAMTX_HLS_BASE=http://mediamtx.5stack.svc.cluster.local:8888

NVIDIA_DRIVER_CAPABILITIES=all
NVIDIA_VISIBLE_DEVICES=all
